<a href="#" class="list-group-item d-flex justify-content-between" (click)="onSelected()">
    <div class="align-self-center">
        <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
        <p class="list-group-item-text">{{ recipe.description }}</p>
    </div>
    <!-- this src could also be src={{displayedRecipe.imagePath}} This is called string interpelation, below called property binding -->
    <span class="align-self-center">
        <img [src] = "recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive" style="max-height: 50px">
    </span>
</a>